<div class="container">
    <div class="resume">
        <div class="section">
            <h2>Summary</h2>
            <div class="content">
                I am a highly motivated engineer who is excited to learn about and work with new and evolving technologies. I pride myself on being a fast learner, an innovative thinker, and a team player with advanced problem solving skills applicable to current issues. I care deeply about writing clean, robust, and maintainable code, and empowering others to do the same. An ideal role would include the ability to leverage my skills to create the future, while troubleshooting and solving problems of the past.
            </div>
        </div>
        <div class="section">
            <h2>Technology Proficiencies</h2>
            <div class="content">
                JavaScript, React, Redux, Node.js, Koa.js, Express, d3.js, AngularJS, HTML, CSS, PHP, Android, AndroidWear, C#, Matlab, ImageMagick, Java, COBOL, Python
            </div>
        </div>
        <div class="section">
            <h2>Professional Experience</h2>
            <div class="subsection">
                <h3>Grovo&nbsp;Learning, New&nbsp;York,&nbsp;NY</h3>
                <span class="date">December 2015 - Present</span>
                <div>
                    <h4 class="u-inline">Senior Front End Engineer</h4>
                    <span class="date">June 2017 - Present</span>
                </div>
                <div>
                    <h4 class="u-inline">Front End Engineer II</h4>
                    <span class="date">April 2016 - May 2017</span>
                </div>
                <div>
                    <h4 class="u-inline">Front End Engineer I</h4>
                    <span class="date">December 2015 - March 2016</span>
                </div>
                <div class="content">
                    Front end technical lead owning significant portions of flagship high-scale React/Redux application powered by a microservices-architecture back end. Works closely with Product, Design, back end counterpart lead, and team of engineers to build a wide range of beautiful and highly functional product features. Architect of Redux action normalization and store structure. Implemented data visualizations through integrating d3 with React.
                </div>
            </div>
            <div class="subsection">
                <h3>NBCUniversal,&nbsp;Englewood&nbsp;Cliffs,&nbsp;NJ</h3>
                <span class="date">June 2014 - December 2015</span>
                <h4>Technical&nbsp;Associate - Media&nbsp;Labs</h4>
                <div class="content">
                    Developer, technical generalist, and mathematician on Technical Innovation team at NBCUniversal. Ideate, design, prototype, and build solutions to problems across company footprint and all brands, from wearables in Universal Parks to web based solutions for Television networks including NBC, CNBC, and Telemundo.<br />
                    Named Inventor on 3 Filed Patents.<br />
                    Participated in and acted as Technical/Developer Support during NBCUniversal hosted hackathons.
                </div>
            </div>
            <div class="subsection">
                <h3>Innovative&nbsp;Software&nbsp;Solutions&nbsp;Inc., Maple&nbsp;Shade,&nbsp;NJ</h3>
                <span class="date">February 2012 - June 2014</span>
                <h4>COBOL Programmer</h4>
                <div class="content">
                    Take specifications provided by clients and develop new software for Benefit Fund Administration. Analyze and assess bugs in existing software reported by clients and implement appropriate changes to resolve issues. Emphasis on product quality and turnaround.
                </div>
            </div>
            <div class="subsection">
                <h3>TD Bank, Cherry Hill, NJ</h3>
                <span class="date">July 2011 - February 2012</span>
                <h4>Customer Service Representative</h4>
                <div class="content">
                    Provide excellent customer service by engaging customers, assessing their financial needs, responding to questions and concerns, and nurturing the company-customer relationship.
                </div>
            </div>
        </div>
        <div class="section">
            <h2>Honors and Awards</h2>
            <div class="subsection">
                <h3>Pending Patents</h3>
                <ul class="content">
                    <li><a href="https://patents.google.com/patent/US20160180412A1/en" target="_blank"><span class="only-print">US20160180412A1 </span>System and method for minimizing a physical queue</a></li>
                    <li><a href="https://patents.google.com/patent/US20160180512A1/en" target="_blank"><span class="only-print">US20160180512A1 </span>Depth-ranked content viewer</a></li>
                    <li><a href="https://patents.google.com/patent/US20160381090A1/en" target="_blank"><span class="only-print">US20160381090A1 </span>Animated snapshots</a></li>
                </ul>
            </div>
            <div class="subsection print-half-width print-date-no-float">
                <h3><a href="http://disruptny2016.devpost.com/" target="_blank">TechCrunch Disrupt NYC Hackathon</a></h3>
                <span class="date">May 2016</span>
                <div class="content">
                    <span class="no-print">Member of </span><a href="http://holoassist.club/" target="_blank">HoloBots</a> (<a href="http://devpost.com/software/holobots/">devpost</a>), Multi-challenge Winner
                </div>
            </div>
            <div class="subsection print-half-width print-ml-half-pct print-date-no-float">
                <h3><a href="http://www.hackathon.io/masters-new" target="_blank">MasterCard Masters of Code NYC Hackathon</a></h3>
                <span class="date">November 2015</span>
                <div class="content">
                    <span class="no-print">Member of </span><a href="http://www.hackathon.io/visual-ecommerce" target="_blank">Visual-eCommerce</a>, Runner Up
                </div>
            </div>
            <div class="subsection">
                <h3><a href="http://math.scu.edu/putnam/" target="_blank">William Lowell Putnam Undergraduate Mathematics Competition</a></h3>
                <span class="date">2009</span>
                <div class="content">77<sup>th</sup> Percentile</div>
            </div>
        </div>
        <div class="section">
            <h2>Open Source Projects</h2>
            <div class="subsection">
                <h3>Amazon IoT Button Starter Kit</h3>
                <span class="date">October 2016</span>
                <div class="content">
                    Built during <a href="https://hacktoberfest.digitalocean.com/" target="_blank">Hacktoberfest 2016</a>, this is to serve a starting point for projects that want to use an <a href="https://aws.amazon.com/iotbutton/" target="_blank">Amazon IoT Button</a> in conjunction with a web interface.<br />
                    <a href="https://github.com/mduleone/iotbutton-starter" target="_blank">Repository</a><br />
                </div>
            </div>
            <div class="subsection">
                <h3>Five Card Draw - Amazon Alexa Skill</h3>
                <span class="date">January 2016 - March 2016</span>
                <div class="content">
                    An Amazon Alexa skill that lets you play Five Card Draw. Powered by Node Poker.<br />
                    <a href="https://github.com/mduleone/alexaFivecard" target="_blank">Repository</a><br />
                </div>
            </div>
            <div class="subsection">
                <h3>Node Poker</h3>
                <span class="date">January 2016</span>
                <div class="content">
                    A NodeJS implementation of hand analyzers for several variations of poker, including Five Card Draw and Texas Holdem. Includes an Express server to determine the winner of a poker hand. Includes a simple front end experiment that determines the winner of any possible Texas Holdem hand.<br />
                    <a href="https://github.com/mduleone/nodePoker" target="_blank">Repository</a><br />
                    <a href="http://dule.one/holdemAnalyzer" target="_blank" >Play</a>
                </div>
            </div>
            <div class="subsection">
                <h3>Make Utterance</h3>
                <span class="date">December 2015</span>
                <div class="content">
                    Simple CLI intended to make creating complex Alexa Skill Utterances simpler.<br />
                    <a href="https://github.com/mduleone/makeUtterance" target="_blank">Repository</a><br />
                    <a href="https://www.npmjs.com/package/make-utterance" target="_blank" >NPM</a>
                </div>
            </div>
            <div class="subsection">
                <h3>Casino Craps</h3>
                <span class="date">February 2013 - January 2014</span>
                <div class="content">
                    A frontend implementation of the popular casino game Craps. Built so I could learn JavaScript, JQuery, how to interact with the HTML5 canvas, and some additions in CSS3.<br />
                    <a href="https://github.com/mduleone/craps" target="_blank" >Repository</a><br />
                    <a href="http://dule.one/craps" target="_blank" >Play</a>
                </div>
            </div>
        </div>
        <div class="section">
            <h2>Education</h2>
            <div class="subsection">
                <h3>Rutgers University, New Brunswick, NJ</h3>
                <div>
                    Bachelors of Arts, Mathematics with Honors
                    <span class="date">May 2011</span>
                </div>
                <div>
                    Minor: Computer Science
                </div>
            </div>
        </div>
        <div class="section">
            <h2>Activities</h2>
            <div class="subsection print-half-width">
                <h3>Sigma Alpha Mu Fraternity</h3>
                <div>
                    International Board Service
                    <span class="date">August 2010 - August 2011</span>
                </div>
                <div>
                    Chapter Treasurer
                    <span class="date">January 2009 - December 2010</span>
                </div>
            </div>
            <div class="print-half-width print-ml-half-pct">
            <div class="subsection">
                <h3>Order of Omega</h3>
                <span class="date">Inducted April 2011</span>
                <div class="content no-print">All Greek Leadership Society</div>
            </div>
            <div class="subsection">
                <h3>Gamma Sigma Alpha</h3>
                <span class="date">Inducted December 2009</span>
                <div class="content no-print">All Greek Honors Society</div>
            </div>
            </div>
        </div>
    </div>
</div>